{{ define "main" }}
<div class="col-md-9 col-md-offset-3 side-collapse-container" data-barba="container">
    <div class="tiles">

        <article class="post" itemtype="http://schema.org/BlogPosting">
            <div class="post-content">
                <h1 class="title">{{ .Title }}</h1>

                <div class="post-meta">
                    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
                    <a href="#" class="post-date">Posted <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></a>
                </div>

                <div class="post-toc">

                    {{ .TableOfContents }}
                        
                </div>
                
                <div class="post-content resizable justify">
                    <p>
                        {{ .Content }} 
                    </p>
                    <div class="post-footer">
                        <div class="post-share-wrap">
                            <div class="post-share">
                                {{ partial "socialshare.html" . }}
                            </div>
                        </div>

                        <div class="post-category">
                            {{ range .Params.categories }}
                            <strong>Categories:</strong><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" rel="category tag">{{ . }}</a>
                            {{ end }}
                        </div>

                        <div class="post-tags">
                            {{ range .Params.tags }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" rel="tag">{{ . }}</a>
                            {{ end }}
                        </div>

                    </div>
                </div>
                
                <!-- Enable Section if Utterances comments are activated -->
                {{ if .Site.Params.ut_comments }}
                <div id="comments">
                    <h2 class="title">Comments</h2>
                    <div class="comments-inner">
                   
        
                         <script type="text/javascript" id="hcb"> /*<!--*/ 
                            if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24sFFiUNMGQ.7GZEfYVs%2FJX."+"&opts=16862&num=10&ts=1615204265916");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); </script>
                        <script src="https://utteranc.es/client.js"
                        repo="{{ .Site.Params.ut_repo }}"
                        issue-term="{{ .Site.Params.ut_issueterm }}"
                        label="{{ .Site.Params.ut_label }}"
                        theme="{{ .Site.Params.ut_theme }}"
                        crossorigin="anonymous"
                        async>
                        </script>

                    </div>
                </div>
                {{ end }}

            </div>
        </article>

    </div>
</div>
</div>
</div>
</div>
<!-- End Wrapper Site -->

{{ end }}