<!-- Import Bootstrap Javascript Bundle -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>

{{ $prismjs := resources.Get "js/prism/prism.js" | minify | fingerprint }}
<script src="{{ $prismjs.Permalink }}"></script>

<!-- Cookie Consent for GDPR Banner if needed -->
{{ if .Site.Params.cookiebanner }}                          
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "{{ .Site.Params.cb_textbg | default "#ffffff"}}",
      "text": "{{ .Site.Params.cb_textcolor | default "#404040"}}"
    },
    "button": {
      "background": "{{ .Site.Params.cb_buttonbg | default "#000000" }}",
      "text": "{{ .Site.Params.cb_buttontextcolor | default "#ffffff"}}"
    }
  },
  "showLink": false,
  "theme": "edgeless",
  "position": "bottom-left",
  "content": {
    "message": "{{ .Site.Params.cb_text | default "We use cookies to ensure you have a great experience."}}",
    "dismiss": "{{ .Site.Params.cb_buttontext | default "Accept"}}"
  }
});
</script>
{{ end }}