{{ define "main" }}

<!-- Wrapper Site -->
<div class="col-md-9 col-md-offset-3">
    <div class="tiles">
        {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
        {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
        {{ .Scratch.Set "count" 5 }}
            {{ if isset .Site.Params.home "posts" }}
            {{ .Scratch.Set "count" .Site.Params.home.posts }}
            {{ end }}
        {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <article class="post">
            <div class="post-content">
                <h1 class="title">
                    <a href="{{ .Permalink }}">{{- .Title -}}</a>
                </h1>

                <!-- Post Metadata -->
                <div class="post-meta">
                    <a href="#" class="post-date">Posted <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></a>	
                    <a href="#" class="post-categorie">{{ range .Params.categories }}{{ . }}{{ end }}</a>
                </div>
                <!-- End Post Metadata -->

                <!-- The Content -->
                <div class="post-excerpt resizable">
                    <p>{{ .Description }}</p>
                </div>
                <!-- End The Content -->
            </div>
        </article>
        {{ end }}

        <!-- Pagination -->
        <div class="pagination-wrap">
            <ul>
                <li>
                    <a class="prev page-numbers" href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
                <li>
                    <a class="page-numbers" href="#">1</a>
                </li>
                <li>
                    <span class="page-numbers current">2</span>
                </li>
                <li>
                    <a class="page-numbers" href="#">3</a>
                </li>
                <li>
                    <a class="page-numbers" href="#">4</a>
                </li>
                <li>
                    <a class="next page-numbers" href="#">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            </ul>

        </div>
        <!-- End Pagination -->
    </div>
</div>
</div>
</div>
<!-- End Wrapper Site -->

{{ end }}